@import "../../../utilitiesStyles/variables";
@import "../../../utilitiesStyles/mixin";

.portfolioItem {
    height: 500px;
    width: 100%;

    .portfolioItem__wrap {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
    }

    .portfolioItem__supplement {
        flex: 4;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 8px;

        .portfolioItem__detail {
            flex: 1;
            background-color: $color-black-0;
            margin-bottom: 8px;
            padding: 12px;

            .portfolioItem__detail__action {
                margin-top: 24px;
                display: none;
            }

            h4 {
                color: $color-secondary-0;
                font-size: 1.4rem;
                margin-bottom: 4px;
            }

            h5 {
                color: $color-secondary-1;
                margin-bottom: 12px;
            }

            p {
                margin-bottom: 8px;
                color: $color-white-2;
                font-size: 0.9rem;

                b {
                    color: $color-white-0;
                    margin-right: 4px;
                }
            }
        }

        .portfolioItem__video {
            background-position: top;
            background-repeat: no-repeat;
            background-size: cover;
            height: 200px;
            width: 100%;
            position: relative;
            border-radius: 8px;
            border: 2px solid $color-primary-1;
            overflow: hidden;

            .portfolioItem__video__layer {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: $color-opacity-black-1;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                transition: all 0.2s ease-out;

                & > span {
                    text-align: center;
                    font-size: 2rem;
                    color: $color-white-0;
                    transition: all 0.3s ease-out;
                }

                &:hover {
                    background-color: $color-opacity-black-3;
                    & > span {
                        text-align: center;
                        font-size: 2.3rem;
                        color: $color-secondary-0;
                    }
                }
            }
        }

        &.portfolioItem__supplement--open {
            display: flex;
        }
    }

    .portfolioItem__main {
        flex: 8;
        margin: 8px 8px 8px 0px;
        position: relative;
        overflow: hidden;
        border-radius: 8px;
        border: 2px solid $color-primary-1;

        .portfolioItem__image {
            background-repeat: no-repeat;
            background-position: top left;
            background-size: cover;
            height: 100%;
            width: 100%;
        }
        .portfolioItem__imageLayer {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $color-opacity-black-1;
            transition: all 0.2s ease-out;
            span {
                margin-left: 20px;
            }
            .portfolioItem__action__switch,
            .portfolioItem__action__video {
                display: none;
            }

            &:hover {
                background-color: $color-opacity-black-3;
            }
        }
        &.portfolioItem__main--close {
            display: none;
        }
    }

    &:focus {
        outline: none;
    }
}

@include md {
    .portfolioItem {
        height: 500px;

        .portfolioItem__wrap {
            position: relative;
        }

        .portfolioItem__supplement {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;

            .portfolioItem__detail {
                margin-bottom: 0;
                padding: 24px;

                .portfolioItem__detail__action {
                    display: block;
                }
            }

            .portfolioItem__video {
                display: none;
            }
        }

        .portfolioItem__main {
            margin: 4px;

            .portfolioItem__imageLayer {
                .portfolioItem__action__switch,
                .portfolioItem__action__video {
                    display: inline-block;
                }
            }
        }
    }
}

@include sm {
    .portfolioItem {
        height: 400px;
        .portfolioItem__main {
            .portfolioItem__imageLayer {
                .portfolioItem__action__switch {
                    display: inline-block;
                }
                .portfolioItem__action__video {
                    display: none;
                }
            }
        }
    }
}

@include xs {
    .portfolioItem {
        height: 300px;
        .portfolioItem__supplement {
            .portfolioItem__detail {
                padding: 8px;

                .portfolioItem__detail__action {
                    margin-top: 12px;
                    display: block;
                }
            }

            .portfolioItem__video {
                display: none;
            }
        }
        .portfolioItem__main {
            .portfolioItem__imageLayer {
                .portfolioItem__action {
                    text-align: center;
                    & > span {
                        text-align: center;
                        margin: 16px 8px;
                    }
                }
            }
        }
    }
}
