@import "../../utilitiesStyles/variables";

.title {
    width: 100%;
    margin-bottom: 60px;
    display: flex;
    justify-content: center;

    h2 {
        display: inline-block;
        text-align: center;
        font-size: 4rem;
        color: $color-primary-0;
        position: relative;

        .title__outstanding {
            display: inline-block;
            padding: 2px 2px;
            margin-right: 2px;
            background-color: $color-primary-0;
            border: 1px solid $color-primary-0;
            border-radius: 4px;
            color: $color-white-0;
        }

        .title__sup {
            position: absolute;
            top: 90%;
            right: -20px;
            font-size: 1.4rem;
            color: $color-opacity-primary-2;
        }
    }
}
