@import "../../utilitiesStyles/variables";
@import "../../utilitiesStyles/mixin";

#aboutMe {
    @include general-background;
    background-color: $color-black-2;

    .aboutMe__container {
        @include general-frame-width;
        overflow: hidden;
        background-color: $color-black-1;
        border-radius: 4px;
        z-index: 2;

        .aboutMe__content {
            display: flex;
            justify-content: space-between;

            .aboutMe__left {
                flex: 7;
                box-sizing: border-box;

                .aboutMe__avatar {
                    background-image: url("../../assets/images/avatar-me-1.jpg");
                    background-position: top;
                    background-size: cover;
                    background-repeat: no-repeat;
                    height: 400px;
                    width: 400px;
                    margin: 0 auto;
                    border: 2px solid $color-primary-0;
                    border-radius: 8px;
                    position: relative;

                    &::after {
                        content: "";
                        display: block;
                        position: absolute;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        background-color: $color-opacity-black-1;
                    }
                }
            }

            .aboutMe__right {
                flex: 5;

                .aboutMe_info {
                    td {
                        padding-bottom: 40px;
                        padding-right: 36px;

                        .aboutMe__info__title {
                            font-weight: 700;
                            position: relative;

                            &::after {
                                position: absolute;
                                content: "";
                                width: 100%;
                                height: 2px;
                                bottom: -4px;
                                left: 0;
                                background-color: $color-secondary-0;
                            }
                        }
                    }
                }

                .aboutMe__download {
                    margin-top: 24px;
                }
            }
        }
    }
}

@include md {
    #aboutMe {
        @include general-background-md;

        .aboutMe__container {
            @include general-frame-width-md;

            .aboutMe__content {
                flex-direction: column;
                justify-content: center;
                align-items: center;

                .aboutMe__left {
                    flex: 1;
                    margin-bottom: 60px;

                    .aboutMe__avatar {
                        border: 2px solid $color-primary-0;
                    }
                }

                .aboutMe__right {
                    flex: 1;

                    .aboutMe_info {
                        border: 2px solid $color-primary-0;
                        border-radius: 8px;
                        padding: 36px 0 0px 18px;
                        margin-bottom: 24px;
                        background-color: $color-black-0;
                    }

                    .aboutMe__download {
                        text-align: center;
                    }
                }
            }
        }
    }
}

@include xs {
    #aboutMe {
        @include general-background-xs;
        .aboutMe__container {
            @include general-frame-width-xs;
            .aboutMe__content {
                .aboutMe__left {
                    .aboutMe__avatar {
                        width: 280px;
                        height: 280px;
                    }
                }
                .aboutMe__right {
                    .aboutMe_info {
                        border: 2px solid $color-primary-0;
                        border-radius: 8px;
                        padding: 24px 0 0px 18px;
                        margin-bottom: 36px;
                        background-color: $color-black-0;
                    }

                    .aboutMe_info {
                        td {
                            padding-bottom: 24px;
                            padding-right: 24px;
                        }
                    }
                }
            }
        }
    }
}
