@import "../../utilitiesStyles/variables";
@import "../../utilitiesStyles/mixin";

#home {
    background-image: url("../../assets/images/27263-nocolor.jpg");
    background-color: $color-black-1;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: $h;
    width: 100%;

    .home__container {
        max-width: 1600px;
        height: 100%;
        margin: 0 auto;
        padding: 0 100px 0 28px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;

        .home__left {
            height: 100%;
            flex: 6;
        }
        .home__right {
            height: 100%;
            flex: 6;
        }

        .home__languageSwitch {
            position: absolute;
            left: 12px;
            bottom: 16px;
            list-style: none;
            display: flex;
            & > li {
                margin-right: 4px;
            }
        }

        .home__decor {
            position: absolute;
            top: 12px;
            right: 10%;
            & > span {
                background-color: $color-gray-0;
                display: block;
                height: 3px;
                margin-bottom: 12px;
                position: relative;

                &:first-of-type {
                    transform: translateX(0);
                    @include grow(3.2s, 0.6s);
                }

                &:nth-of-type(2) {
                    transform: translateX(-30px);
                    @include grow(3.5s, 1s);
                }

                &:nth-of-type(3) {
                    transform: translateX(-10px);
                    @include grow(3.6s, 1.2s);
                }

                &:nth-of-type(4) {
                    transform: translateX(-20px);
                    @include grow(3.7s, 0.8s);
                }

                &:nth-of-type(5) {
                    transform: translateX(12px);
                    @include grow(3s, 1.5s);
                }

                &::before {
                    content: "";
                    position: absolute;
                    top: 50%;
                    left: 0;
                    transform: translateY(-50%);
                    width: 10px;
                    height: 10px;
                    border-radius: 50%;
                    background-color: $color-gray-0;
                }

                &::after {
                    content: "";
                    position: absolute;
                    bottom: 0%;
                    right: -47px;
                    transform: translate(101%, 18%) rotate(231deg);
                    width: 3px;
                    height: 129px;
                    background-color: $color-gray-0;
                }
            }
        }
    }
}
