@import "../../utilitiesStyles/variables";

.preloader--wrap {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $color-black-2;
    padding-right: 8px;
    z-index: 999999999;
    .preloader {
        position: relative;
        width: 100%;
        height: 100%;
        background-image: url("../../assets/images/27263-nocolor.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        .preloader__left {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            border-top: 50vh solid transparent;
            border-bottom: 50vh solid $color-black-5;
            border-left: 50vw solid $color-black-5;
            border-right: 50vw solid transparent;
            animation: ani-fade-out-left 2s ease-in 2.8s 1 forwards;
            &::before {
                content: "";
                display: block;
                position: absolute;
                top: 10vh;
                left: -10vw;
                transform: translate(-50%, -50%);
                height: 0;
                width: 0;
                border-top: 30vh solid transparent;
                border-bottom: 30vh solid $color-opacity-black-0;
                border-left: 30vw solid $color-opacity-black-0;
                border-right: 30vw solid transparent;
            }
        }
        .preloader__right {
            position: absolute;
            top: 50%;
            right: 50%;
            transform: translate(50%, -50%);
            border-top: 50vh solid $color-black-5;
            border-bottom: 50vh solid transparent;
            border-left: 50vw solid transparent;
            border-right: 50vw solid $color-black-5;
            animation: ani-fade-out-right 2s ease-in 2.8s 1 forwards;
            &::before {
                content: "";
                display: block;
                position: absolute;
                top: -10vh;
                right: -10vw;
                transform: translate(50%, -50%);
                height: 0;
                width: 0;
                border-top: 30vh solid $color-opacity-black-0;
                border-bottom: 30vh solid transparent;
                border-left: 30vw solid transparent;
                border-right: 30vw solid $color-opacity-black-0;
            }
            &::after {
                content: "";
                display: block;
                position: absolute;
                top: -50vh;
                left: 50vw;
                height: 100vh;
                width: 8px;
                background-color: $color-black-5;
            }
        }
        .preloader__steeringWheel {
            position: absolute;
            top: -100px;
            right: 50%;
            transform: translate(50%, -50%) rotate(0deg);
            height: 200px;
            width: 200px;
            background-image: url("../../assets/images/steering-wheel-1.png");
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            z-index: 100;
            animation: ani-fade-spin-0 0.5s ease 0.5s 1 forwards, ani-fade-spin-1 1s ease 1s 1 forwards,
                ani-fade-spin-2 1s ease-in 2s 1 forwards, ani-fade-spin-3 1s linear 3s 1 forwards;
        }
    }
}

@keyframes ani-fade-out-left {
    0% {
        top: 50%;
        left: 50%;
        opacity: 1;
    }
    30% {
        top: 70%;
        left: 50%;
        opacity: 1;
    }
    40% {
        top: 70%;
        left: 50%;
        opacity: 1;
    }
    60% {
        opacity: 0.8;
    }
    100% {
        top: 60%;
        left: -100vw;
        opacity: 0;
    }
}

@keyframes ani-fade-out-right {
    0% {
        top: 50%;
        right: 50%;
        opacity: 1;
    }
    30% {
        top: 30%;
        right: 50%;
        opacity: 1;
    }
    40% {
        top: 30%;
        right: 50%;
        opacity: 1;
    }
    60% {
        opacity: 0.8;
    }
    100% {
        top: 40%;
        right: -100vw;
        opacity: 0;
    }
}

@keyframes ani-fade-spin-0 {
    0% {
        top: -100px;
    }
    100% {
        top: 50%;
    }
}

@keyframes ani-fade-spin-1 {
    0% {
        transform: translate(50%, -50%) rotate(0deg);
        opacity: 1;
    }
    40% {
        transform: translate(50%, -50%) rotate(60deg);
    }
    100% {
        transform: translate(50%, -50%) rotate(-60deg);
    }
}

@keyframes ani-fade-spin-2 {
    0% {
        transform: translate(50%, -50%) rotate(-60deg);
        opacity: 1;
    }
    100% {
        transform: translate(50%, -50%) rotate(500deg);
        opacity: 1;
    }
}

@keyframes ani-fade-spin-3 {
    0% {
        transform: translate(50%, -50%) rotate(500deg);
        opacity: 1;
    }
    100% {
        transform: translate(50%, -50%) rotate(1200deg);
        opacity: 0;
    }
}
