//width
$w: 1400px;

//height
$h: 100vh;

//break point
$bp-xs: 0px;
$bp-sm: 576px;
$bp-md: 768px;
$bp-lg: 992px;
$bp-xl: 1200px;

//color
$color-primary-0: #0984e3;
$color-primary-1: #54a0ff;

$color-secondary-0: #ee5253;
$color-secondary-1: #d83a3a;

$color-white-0: #ffffff;
$color-white-1: #eeeeee;
$color-white-2: #cccccc;

$color-black-0: #000000;
$color-black-1: #0e0e0e;
$color-black-2: #1d1d1d;
$color-black-3: #242424;
$color-black-4: #292929;

$color-gray-0: #3e3e3e;
$color-gray-1: #555555;
$color-gray-2: #999999;

$color-opacity-black-0: rgba(0, 0, 0, 0.5);
$color-opacity-black-1: rgba(0, 0, 0, 0.2);
$color-opacity-black-2: rgba(0, 0, 0, 0.1);
$color-opacity-black-3: rgba(0, 0, 0, 0.8);

$color-opacity-white-0: rgba(255, 255, 255, 0.4);
$color-opacity-white-1: rgba(255, 255, 255, 0.3);
$color-opacity-white-2: rgba(255, 255, 255, 0.2);
$color-opacity-white-3: rgba(255, 255, 255, 0.1);

$color-opacity-primary-0: rgba(9, 133, 227, 0.3);
$color-opacity-primary-1: rgba(116, 186, 255, 0.3);
$color-opacity-primary-2: rgba(9, 133, 227, 0.6);

$color-opacity-secondary-0: rgba(238, 82, 82, 0.3);
$color-opacity-secondary-1: rgba(255, 107, 107, 0.3);
