@import "../../../utilitiesStyles/variables";
@import "../../../utilitiesStyles/mixin";

.home__content {
    padding-left: 16px;
    @include fade(1.6s, 1.4s);

    .home__supplement {
        font-size: 1.6rem;
        font-weight: 400;
    }

    .home__title {
        height: 120px;
        & > h2 {
            font-size: 2.8rem;
            margin: 4px 0 16px;
            .home__title__wordsTyping {
                color: $color-primary-0;
                text-shadow: 2px 2px 3px $color-opacity-primary-0;
            }
        }
    }

    .home__introduce {
        line-height: 1.6rem;
        word-spacing: 0.1rem;
    }

    .home__action {
        margin-top: 24px;
        list-style: none;
        display: flex;
        & > li {
            margin-right: 12px;
        }
    }
}

@include md {
    .home__content {
        border-radius: 12px;
        padding: 36px 100px;
        background-color: $color-opacity-black-3;
        box-shadow: 0px 0px 5px 3px $color-opacity-white-3;
    }
}

@include sm {
    .home__content {
        padding: 36px 40px;
    }
}

@include xs {
    .home__content {
        padding: 20px;
    }
}

@include custom-responsive(400) {
    .home__content {
        padding: 12px;
        .home__title {
            height: 150px;
        }
    }
}
