@import "./utilitiesStyles/variables";
@import "./utilitiesStyles/mixin";

.app {
    position: relative;
    background-color: $color-black-1;
    overflow-x: hidden;

    main {
        margin: 0 auto;
    }
}
